html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #37bfc0;
    font-family: "Raleway", sans-serif;
    line-height: 1.5;
    padding: 2em;
}

@media all and (min-width: 600px) {
    body {
        padding: 5em;
    }
}

@media all and (min-width: 1000px) {
    body {
        padding: 2em;
    }
}

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.container {
    border-radius: 30px;
    opacity: 0.9;
    background-color: #eaeaea;
    width: 100%;
    padding: 2em;
    border: 3px solid white;
    margin: auto;
}

@media all and (min-width: 600px) {
    .container {
        opacity: 0.95;
        border: 6px solid white;
    }
}

@media all and (min-width: 1000px) {
    .container {
        max-width: 600px;
    }
}

h1 {
    color: #37bfc0;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 2px;
}

@media all and (min-width: 600px) {
    h1 {
        font-size: 3em;
    }
}

h3 {
    font-size: 1.6em;
}

p {
    font-size: 1.1em;
}

a {
    color: #37bfc0;
}

a:hover {
    color: #1f648a;
}

/********* HEADER / FOOTER *********/

header,
footer {
    padding: 20px;
}

header p {
    padding-top: 15px;
}

.circular-img {
    display: block;
    margin: 0 auto;
    border-radius: 150px;
    box-shadow: 1px 3px 3px black;
    border: 3px solid white;
    width: 100%;
    max-width: 300px;
}

@media all and (min-width: 1000px) {
    .circular-img {
        display: inline;
        float: left;
        max-width: 200px;
        border: 6px solid white;
    }
}

/* For the rotating text in the footer */

.rotate {
    text-align: center;
}

/********* RESUME SECTIONS *********/

.education h4,
.skills h4,
.work h4,
.interests h4,
.contact h4 {
    font-size: 1.3em;
    text-transform: uppercase;
    color: #477869;
    font-weight: 600;
}

/********* INTERESTS *********/

.small {
    font-size: 0.7em;
}

.interests-img {
    display: block;
    max-width: 200px;
    border-radius: 15px;
    margin: auto;
}

@media all and (min-width: 600px) {
    .interests-img {
        display: inline;
        float: right;
    }
}

/********* CONTACT *********/

.contact {
    text-align: center;
}

/********* ACCORDION *********/

/* Floats the icons to the right in the accordion */

.right {
    float: right;
}

.accordion {
    margin: 10px 0;
    background-color: #eeeeee;
    color: #37bfc0;
    padding: 18px;
    cursor: pointer;
}

.accordion.active,
.accordion:hover {
    background-color: #d1d3d4;
}

.content {
    padding: 10px 20px;
    background-color: #ffffff;
    display: none; /* invisible until... */
    opacity: 0;
}

.content.show {
    display: block; /* ...clicked on! */
    opacity: 1;
}

/********* SKILLS BARS *********/

.skills-bar-container {
    width: 100%;
    padding: 10px;
}

.skill-bar {
    margin: 10px;
    background-color: #6c7a89;
    border-radius: 5px;
}

.individual-skill {
    color: white;
    letter-spacing: 1px;
}

/********* Specific Skill Bars Below *********/

#skill-html,
#skill-css,
#skill-javascript,
#skill-jquery,
#skill-wordpress,
#skill-photoshop,
#skill-indesign,
#skill-illustrator {
    border-radius: 5px;
    padding: 13px;
}

#skill-html {
    animation: animate-html 6s;
    background-color: #a2b8c7;
    width: 95%;
}

@keyframes animate-html {
    0% {
        width: 5%;
    }
    100% {
        width: 95%;
    }
}

#skill-css {
    animation: animate-css 6s;
    background-color: #7ca8c8;
    width: 87%;
}

@keyframes animate-css {
    0% {
        width: 5%;
    }
    100% {
        width: 87%;
    }
}

#skill-javascript {
    animation: animate-javascript 6s;
    background-color: #4f6c6f;
    width: 75%;
}

@keyframes animate-javascript {
    0% {
        width: 5%;
    }
    100% {
        width: 75%;
    }
}

#skill-jquery {
    animation: animate-jquery 6s;
    background-color: #4593c5;
    width: 72%;
}

@keyframes animate-jquery {
    0% {
        width: 5%;
    }
    100% {
        width: 72%;
    }
}

#skill-wordpress {
    animation: animate-wordpress 6s;
    background-color: #27405c;
    width: 70%;
}

@keyframes animate-wordpress {
    0% {
        width: 5%;
    }
    100% {
        width: 70%;
    }
}

#skill-photoshop {
    animation: animate-photoshop 6s;
    background-color: #6b94b2;
    width: 85%;
}

@keyframes animate-photoshop {
    0% {
        width: 5%;
    }
    100% {
        width: 85%;
    }
}

#skill-indesign {
    animation: animate-indesign 6s;
    background-color: #1f648a;
    width: 70%;
}

@keyframes animate-indesign {
    0% {
        width: 5%;
    }
    100% {
        width: 70%;
    }
}

#skill-illustrator {
    animation: animate-illustrator 6s;
    background-color: #325063;
    width: 80%;
}

@keyframes animate-illustrator {
    0% {
        width: 5%;
    }
    100% {
        width: 80%;
    }
}
